<app-navbar [projectName]="projectName"></app-navbar>
<div class="single-board to-do">
  <div class="top">
    <div class="name">To Do</div>
    <div class="img"><img src="https://img.icons8.com/material/24/000000/circled-menu.png"/></div>
  </div>
  <div class="tasks">
    <div class="task" *ngFor="let item of toDo$" (click)="taskDetails(item.taskDescription,projectName,item.taskDetails,item.assignTo,item.done)">
      <div class="text">{{item.taskDescription}}</div>
    </div>
  </div>
  <div class="new-task" (click)="createTask(projectName)">
    <p>Add new task</p>
  </div>
</div>
<div class="single-board in-progress">
  <div class="top">
    <div class="name">In Progress</div>
    <div class="img"><img src="https://img.icons8.com/material/24/000000/circled-menu.png"/></div>
  </div>
  <div class="tasks">
    <div class="task" *ngFor="let item of inProgress$" (click)="taskDetails(item.taskDescription,projectName,item.taskDetails,item.assignTo,item.done)">
      <div class="text">{{item.taskDescription}}</div>
    </div>
  </div>
</div>
<div class="single-board check-me">
  <div class="top">
    <div class="name">Check Me</div>
    <div class="img"><img src="https://img.icons8.com/material/24/000000/circled-menu.png"/></div>
  </div>
  <div class="tasks">
    <div class="task" *ngFor="let item of checkMe$" (click)="taskDetails(item.taskDescription,projectName,item.taskDetails,item.assignTo,item.done)">
      <div class="text">{{item.taskDescription}}</div>
    </div>
  </div>
</div>
<div class="single-board done">
  <div class="top">
    <div class="name">Approved</div>
    <div class="img"><img src="https://img.icons8.com/material/24/000000/circled-menu.png"/></div>
  </div>
  <div class="tasks">
    <div class="task" *ngFor="let item of done$">
      <div class="text">{{item.taskDescription}}</div>
    </div>
  </div>
</div>
