<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-xl-2 left-panel">
      <div class="row">
        <div class="col-xl-6 project-logo">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAArHbV6gqS70hTQBiPnvI-mRMZw85ItexDw&usqp=CAU"
            alt="Avatar">
        </div>
        <div class="col-xl-6 project-name">
          <h5>Project name</h5>
        </div>
      </div>
      <ul class="left-menu">
        <li><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Backlog</a></li>
        <li><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> Board</a></li>
        <li><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> Task in progress</a></li>
        <li><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> My tasks</a></li>
        <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a></li>
      </ul>
    </div>
    <div class="col-xl-10 right-panel">
      <h1>Board</h1>
      <app-board></app-board>
    </div>
  </div>
</div>
