.task{
  background-color: #FFFFFF;
  margin: 0;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  padding: 15px;
  word-wrap: break-word;
  transition: 0.3s;
}
.task:hover{
  background-color: rgba(0,0,0,0.2);
}
header{
  height:80px;
  background-image: url("https://wallpaperaccess.com/full/1251284.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h2{
  color: #FFFFFF;
}
.my-board{
  margin: 10px;
}
