<!-- Hero section -->
<section id="hero">
  <!-- Temporary navbar -->
  <div class="nav-bar">
    <h2>Bug <span>Tracker</span></h2>
      <ul>
        <li><a href="#offer">Functions</a></li>
        <li><a href="#about">About Author</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a type="button" (click)="openDialog(true)">Login</a></li>
      </ul>
  </div>
  <!-- End temporary(need to be change)-->
  <div class="hero my-container">
    <div>
      <h1>Stop Wasting<span></span></h1>
      <h1>Time And Plan<span></span></h1>
      <h1>Your work<span></span></h1>
      <a type="button" class="my-btn" (click)="openDialog(false)">Join us<span></span></a>
    </div>
  </div>
</section>
<!-- End Hero section -->

<!-- Product offer section -->
<section id="offer">
  <div class="offer my-container">
    <div class="offer-top">
      <h1 class="section-title">Functions</h1>
      <p>
        It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout.
        It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layoutadasdsadasdasdasdassd.
      </p>
    </div>
    <div class="offer-bot">
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/dusk/64/000000/strategy-board.png"/>
        </div>
        <h2>Design a strategy</h2>
        <p>
          Our website will provide you all necessary tools to make your journey easy and soft.
          From now you will be never facing again with problems and some more stupid text that i dont get it but i wan't
          a job :)
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/dusk/64/000000/strategy-board.png"/>
        </div>
        <h2>Design a strategy</h2>
        <p>
          Our website will provide you all necessary tools to make your journey easy and soft.
          From now you will be never facing again with problems and some more stupid text that i dont get it but i wan't
          a job :)
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/dusk/64/000000/strategy-board.png"/>
        </div>
        <h2>Design a strategy</h2>
        <p>
          Our website will provide you all necessary tools to make your journey easy and soft.
          From now you will be never facing again with problems and some more stupid text that i dont get it but i wan't
          a job :)
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/dusk/64/000000/strategy-board.png"/>
        </div>
        <h2>Design a strategy</h2>
        <p>
          Our website will provide you all necessary tools to make your journey easy and soft.
          From now you will be never facing again with problems and some more stupid text that i dont get it but i wan't
          a job :)
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Product offer section -->

<!-- Section about me -->
<section id="about">
  <div class="about my-container">
    <div class="content">
      <h1 class="section-title">About Creator</h1>
      <h2>Unemployed junior java develop</h2>
      <p>
        I'am last year student of computer science. I prefer programming in java but also know python html/css and angular
        I really want to get experience in industry so you can change it, ofcourse if you read it and you didn't skip
        my cv :)<br/>
        But if you did it and you got in this website by accident below is link to my cv.
      </p>
      <a href="#" class="my-btn">Download CV</a>
    </div>
  </div>
</section>
<!--End of about me -->

<!-- Contact Section -->
<section id="contact">
  <div class="contact my-container">
    <div class="contact-top">
      <h1 class="section-title">Contact Info</h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon"><img src="https://img.icons8.com/ios-filled/64/000000/ringing-phone.png"/></div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>+48 508 182 879</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><img src="https://img.icons8.com/ultraviolet/40/000000/send-mass-email.png"/></div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>patzaj9711@gmail.com</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact section -->

<!-- Footer -->
<section id="footer">
  <div class="footer my-container">
    <div class="footer-name">
      <h1 class="section-title">Bug Tracker</h1>
    </div>
    <div class="additional-text">
      <h2>Usefully links below(including source code)</h2>
    </div>
    <div class="links">
      <a href="#"><img src="https://img.icons8.com/fluent/48/000000/github.png"/></a>
      <a href="#"><img src="https://img.icons8.com/fluent/48/000000/code.png"/></a>
    </div>
    <p>Some copyright but not needed :)</p>
  </div>
</section>
<!-- End of footer -->
