<!-- Hero section -->
<section id="hero">
  <div class="hero my-container">
    <div>
      <h1>Stop Wasting<span></span></h1>
      <h1>Time And Plan<span></span></h1>
      <h1>Your work<span></span></h1>
      <a href="#" type="button" class="my-btn">Join us<span></span></a>
    </div>
  </div>
</section>
<!-- End Hero section -->

<!-- Product offer section -->
<section id="offer">
  <div class="offer my-container">
    <div class="offer-top">
      <h1 class="section-title">Functions</h1>
      <p>
        It is a long established fact that a reader will be distracted by the readable
        content of a page when looking at its layout.
        It is a long established fact that a reader will be distracted by the readable content of a page when
        looking at its layoutadasdsadasdasdasdassd.
      </p>
    </div>
    <div class="offer-bot">
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/dusk/64/000000/strategy-board.png"/>
        </div>
        <h2>Design a strategy</h2>
        <p>
          Our website will provide you all necessary tools to make your journey easy and soft.
          From now you will be never facing again with problems and some more stupid text that i dont get it but i wan't
          a job :)
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/material-rounded/80/000000/appointment-scheduling.png"/>
        </div>
        <h2>Offer header</h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout.
          It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layoutadasdsadasdasdasdassd.
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/material-rounded/80/000000/appointment-scheduling.png"/>
        </div>
        <h2>Offer header</h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout.
          It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layoutadasdsadasdasdasdassd.
        </p>
      </div>
      <div class="offer-item">
        <div class="icon">
          <img src="https://img.icons8.com/material-rounded/80/000000/appointment-scheduling.png"/>
        </div>
        <h2>Offer header</h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout.
          It is a long established fact that a reader will be distracted by the readable content of a page when
          looking at its layoutadasdsadasdasdasdassd.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Product offer section -->

<!-- Section about me -->
<section id="about">
  <div class="about my-container">
    <div class="content">
      <h1 class="section-title">About Creator</h1>
      <h2>Unemployed junior java develop</h2>
      <p>
        I'am last year student of computer science. I love programming in java but also know python html/css and angular
        I really want to get experience in industry so you can change it, ofcourse if you read it and you didn't skip
        my cv :)<br/>
        But if you did it and you got in this website by accident below is link to my cv.
      </p>
      <a href="#" class="my-btn">Download CV</a>
    </div>
  </div>
</section>
<!--End of about me -->
