<div id="reset-container">
  <div class="reset-password">
    <div class="reset-header">
      <h4>Reset Password</h4>
      <span style="color: green; text-align: center; font-weight: bold">{{information}}</span>
    </div>
    <div class="reset">
      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Password is <strong>too short</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Re-password</mat-label>
          <input appRepeatPassword="{{passwordFormControl.value}}" type="password" matInput [formControl]="rePasswordFormControl">
          <mat-error *ngIf="rePasswordFormControl.hasError('required')">
            Re-password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="rePasswordFormControl.hasError('notEqual')">
            Password are not <strong>the same</strong>
          </mat-error>
        </mat-form-field>
        <button [disabled]="!disableReset() || isChanged" type="submit" mat-raised-button color="primary" style="margin-top: 15px" (click)="reset()">Reset</button>
      </form>
    </div>
  </div>
</div>

